// <h>Cloud Server Settings




// <s> Activation code
// <i> Code associated with a cloud user account
// <id> prox_activation_code
#define PROX_ACTIVATION_CODE "PUT YOUR ACTIVATION CODE HERE"
// </h>


// <h>Agent Settings

// <s> Device name
// <i> Name associated with device
// <id> prox_device_name
#define PROX_DEVICE_NAME "SAMD21_STARTNAME"

// </h>


//the sending synchronous message interval
#define PROX_SYNC_INTERVAL 10

// Cloud server port number
#define PROX_PORT 5050

// Cloud server ip address
#define PROX_SERVER_IP "54.191.88.84"

