{% from 'templates/common.jinja2' import select_type_to_code_type %}
{% from 'templates/common.jinja2' import abbreviate_int_type %}
{% from 'templates/common.jinja2' import cfg %}

{% macro get_name() -%}
 {#-  {{     middleware.user_label}}   -#}
{{ cfg('prox_stat_name', 'stat') }}
{%- endmacro %}

{% macro get_id_define() -%}
{#-  PROX_STAT_ID__{{ middleware.user_label }}  -#}
{{ middleware.user_label }}_ID
{%- endmacro %}

{% macro get_name_define() -%}
{#-  PROX_STAT_NAME__{{  middleware.user_label }}  -#}
{{  middleware.user_label }}_NAME
{%- endmacro %}

{% macro get_type_define() -%}
{#- PROX_STAT_TYPE__{{  middleware.user_label }} -#}
{{  middleware.user_label }}_TYPE
{%- endmacro %}

{% macro define_id() -%}
#define {{ get_id_define() }}  {{ middleware.configuration.prox_stat_id }}
{%- endmacro %}

{% macro define_stat() -%}
{%- set stat_type = cfg('prox_stat_type', 'bool') -%}
PROX_{{ stat_type | upper }}_STAT_DEF({{ get_id_define() }})
{%- endmacro %}

{% macro get_local_variable_name() -%}
{#-  stat_{{ middleware.user_label }}  -#}
stat_{{get_name()|lower}}
{%- endmacro %}

{% macro define_local_variable() -%}
{%- set stat_type = cfg('prox_stat_type', 'bool') -%}
{%- set stat_type_t = select_type_to_code_type(stat_type) -%}
    {{stat_type_t}} {{get_local_variable_name() }}
{%- endmacro %}

{% macro get_stat_to_local_variable() -%}
{%- set stat_type = cfg('prox_stat_type', 'bool') -%}
{%- set stat_type_t = select_type_to_code_type(stat_type) -%}
    {{stat_type_t}} {{get_local_variable_name() }} =  {{get_callback_name()}}();
{%- endmacro %}

{%- macro get_callback_name() -%}
prox_callback__get_{{ get_name()|lower }}
{%- endmacro %}

{% macro declare_callback() -%}
{%- set stat_type = cfg('prox_stat_type', 'bool') -%}
{%- set stat_type_t = select_type_to_code_type(stat_type) -%}

extern {{stat_type_t}} {{ get_callback_name() }}(void);
{%- endmacro %}

{% macro define_callback() -%}
{%- set stat_type = cfg('prox_stat_type', 'bool') -%}
{% if 'int' in stat_type -%}
	{%- set stat_type = stat_type+'_t' -%}
{%- endif -%}
#pragma weak {{get_callback_name()}}
{{stat_type}} {{ get_callback_name() }}(void)
{
	PROX_LOG("%s - default handler"EOL,__FUNCTION__);
	return 0;
}
{% endmacro %}

{####  Misk  ####}
{%- macro get_stat() -%}
{%- set stat_type = cfg('prox_stat_type', 'bool') -%}
    prox_write_stat_{{abbreviate_int_type(stat_type)}}({{ get_id_define() }}, {{ get_local_variable_name() }});
{%- endmacro -%}

{% macro log_stat() -%}
{%- set stat_type = cfg('prox_stat_type', 'bool') -%}

{%- if stat_type == 'float' -%}
    PROX_LOG("{{ get_id_define() }}:"FLOAT_TO_INT_POINT_INT_FORMAT EOL, FLOAT_TO_INT_POINT_INT_VALUES({{ get_local_variable_name() }}));
{%- elif stat_type == 'bool' -%}
    PROX_LOG("{{ get_id_define() }}: %d" EOL, (int){{ get_local_variable_name() }});
{%- else -%}
    PROX_LOG("{{ get_id_define() }}: %d" EOL, (int){{ get_local_variable_name() }});
{%- endif -%}
{% endmacro -%}
