{% from 'templates/common.jinja2' import abbreviate_int_type %}
{% from 'templates/common.jinja2' import select_type_to_code_type %}
{% from 'templates/common.jinja2' import cfg %}

{#### Configuration related macros ####}

{#### Code related macros ####}
{% macro get_name() -%}
    {{ cfg('prox_param_name', 'param') }}
{%- endmacro %}

{% macro get_id_define() -%}
{#-  PROX_CONF_PARAM_ID__{{ middleware.user_label|upper }}  -#}
{{ middleware.user_label|upper }}_ID
{%- endmacro %}


{% macro get_name_define() -%}
{#-  PROX_CONF_PARAM_NAME__{{  middleware.user_label|upper}}  -#}
{{  middleware.user_label|upper}}_NAME
{%- endmacro %}


{% macro get_type_define() -%}
{#-  PROX_CONF_PARAM_TYPE__{{  middleware.user_label|upper}}  -#}
{{  middleware.user_label|upper}}_TYPE
{%- endmacro %}


{% macro get_editable_define() -%}
{#-  PROX_CONF_PARAM_EDITABLE__{{  middleware.user_label|upper }}  -#}
{{  middleware.user_label|upper }}_EDITABLE
{%- endmacro %}




{% macro get_type() -%}
{{cfg('prox_param_type', 'bool')}}
{%- endmacro %}

{% macro define_id() -%}
#define {{ get_id_define() }}  {{ middleware.configuration.prox_param_id }}
{%- endmacro %}


{% macro get_local_variable_name() -%}
param_{{ get_name()|lower }}
{%- endmacro %}


{% macro get_string_name() -%}
{{ get_name()|lower}}
{%- endmacro %}


{% macro define_string() -%}
char {{  get_string_name() }}[PROX_CONF_PARAM_STR_LEN]
{%- endmacro %}


{% macro define_param(string_struct_name) -%}
{%- set param_type = cfg('prox_param_type', 'bool') -%}
{% if param_type == 'string' -%}
PROX_STRING_CONF_PARAM_DEF({{ get_id_define() }}, {{ string_struct_name }}.{{ get_string_name() }})
{%- else -%}
PROX_{{ param_type | upper }}_CONF_PARAM_DEF({{ get_id_define() }})
{%- endif %}
{%- endmacro %}


{% macro define_local_variable() -%}
{%- set param_type = cfg('prox_param_type', 'bool') -%}
    {{select_type_to_code_type(param_type)}} {{get_local_variable_name() }}
{%- endmacro %}


{#### Setters ####}
{% macro get_setter_name() -%}
prox_conf_param_push__{{ get_name()|lower }}
{%- endmacro %}

{% macro declare_setter() -%}
{%- set param_type = cfg('prox_param_type', 'bool') -%}
{%- set param_type_t = select_type_to_code_type(param_type) -%}

int {{ get_setter_name() }}({{param_type_t}} {{get_name()|lower}});
{%- endmacro -%}

{% macro define_setter() -%}
{%- set param_type = cfg('prox_param_type', 'bool') -%}
{%- set param_type_t = select_type_to_code_type(param_type) -%}

int {{ get_setter_name() }}({{param_type_t}} {{get_name()|lower}})
{
	prox_check_and_lib_init();
	prox_write_conf_param_{{ abbreviate_int_type(param_type) }}({{ get_id_define() }}, {{get_name()|lower}});
	prox_conf_param_set();
	return 0;
}
{%- endmacro %}


{#### Callbacks ####}
{% macro get_callback_name() -%}
prox_callback__set_{{ get_name()|lower }}
{%- endmacro %}

{% macro declare_callback() -%}
{%- if cfg('prox_param_editable', 'True')|string == "True" -%}
{%- set param_type = cfg('prox_param_type', 'bool') -%}
{%- set param_type_t = select_type_to_code_type(param_type) -%}
extern void {{ get_callback_name() }}({{param_type_t}} {{get_name()|lower}});
{%- endif -%}
{%- endmacro %}

{% macro define_callback() -%}
{% if cfg('prox_param_editable', 'True')|string == "True" -%}
{%- set param_type = cfg('prox_param_type', 'bool') -%}
{%- set param_type_t = select_type_to_code_type(param_type) -%}

#pragma weak {{get_callback_name()}}
void {{ get_callback_name() }}({{param_type_t}} {{get_name()}})
{
	UNUSED({{get_name()}});
	PROX_LOG("%s - default handler"EOL,__FUNCTION__);
}
{% endif %}
{%- endmacro %}

{####  Misk  ####}
{% macro read_and_log(tmp_string_name) -%}
{%- set param_type = cfg('prox_param_type', 'bool') -%}

{%- if param_type == 'string' %}
    {{ get_local_variable_name() }} = {{ tmp_string_name }};
    prox_read_conf_param_string({{ get_id_define() }}, {{ get_local_variable_name() }});
    PROX_LOG("{{ get_id_define() }}: %s" EOL, {{ get_local_variable_name() }});
{%- elif param_type == 'float' -%}
    prox_read_conf_param_float({{ get_id_define() }}, &{{ get_local_variable_name() }});
    PROX_LOG("{{ get_id_define() }}:"FLOAT_TO_INT_POINT_INT_FORMAT EOL, FLOAT_TO_INT_POINT_INT_VALUES({{ get_local_variable_name() }}));
{%- elif param_type == 'bool' -%}
    prox_read_conf_param_{{ param_type }}({{ get_id_define() }}, &{{ get_local_variable_name() }});
    PROX_LOG("{{ get_id_define() }}: %d" EOL, (int){{ get_local_variable_name() }});
{%- else -%}
    prox_read_conf_param_{{ abbreviate_int_type(param_type) }}({{ get_id_define() }}, &{{ get_local_variable_name() }});
    PROX_LOG("{{ get_id_define() }}: %d" EOL, (int){{ get_local_variable_name() }});
{%- endif -%}
{% endmacro -%}
