

/*******************************************************************************
*
* Copyright (C) 2016 Proximetry Inc. All rights reserved.
* Authors: Proximetry (www.proximetry.io)
*
* THIS SOFTWARE IS PROVIDED BY PROXIMETRY "AS IS" AND ANY EXPRESS OR IMPLIED
* WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
* MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT ARE
* EXPRESSLY AND SPECIFICALLY DISCLAIMED. IN NO EVENT SHALL PROXIMETRY BE LIABLE
* FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
* DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
* OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
* HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
* STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
* ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
* POSSIBILITY OF SUCH DAMAGE.
*
******************************************************************************/

/**
 * @file prox_agent.h
 * @brief Proximetry Cloud Agent - Application Interface
 * */

#ifndef PROX_DATA_DEF_H
#define PROX_DATA_DEF_H

{# Agent is defined first in cfgmap and should therefore be the first middleware in list#}
{% set agent = middlewares | first %}

{% set alerts = agent.get_reverse_dependency('Alerts') or [] %}
{% set params = agent.get_reverse_dependency('Parameters') or [] %}
{% set params_editable = params | selectattr('configuration.prox_param_editable') %}
{% set stats = agent.get_reverse_dependency('Statistics') or [] %}

{% set agent = middlewares | first %}
#define PROX_DEVICE_MODEL   {{ agent.tpl.device_model_id() }}
#define PROX_MODEL_VER      {{ agent.tpl.device_model_ver() }}
#define PROX_INSTANCE_VER   0    // if 0 then the agent is a clear version generated by the AtmelStart.
                                 // Increment it when the code is modified due to project specific requirements.

/*
 * @brief misc
 */
#define PROX_CONF_PARAM_STR_LEN 100




/* 
 * Configuration Parameters setters 
 */
{%- for param in params %}
{{ param.tpl.declare_setter() }}
{%- endfor %}

/*
 * Alerts setters 
 */
{%- for alert in alerts %}
{{ alert.tpl.declare_setters() }}
{%- endfor %}

/*
 * Configuration Parameter change callbacks 
 */
{%- for param in params %}
{{ param.tpl.declare_callback() }}
{%- endfor %}

/*
 * Statistics callbacks 
 */
{%- for stat in stats %}
{{ stat.tpl.declare_callback() }}
{%- endfor %}


/*
 * @brief 
 */
bool prox_is_connected(void);

/*
 * @brief 
 */
char *prox_get_agent_version(void);

#endif
